* {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Source Sans Pro';
}


/*****HEADER*****/


/*header {
    margin: 0;
    padding: 0;
    background-color: #2F2E2E;
    /*width: 100%;
    height: auto;
}*/


/*li{
    padding-left:19px;

}*/


/****CARD*****/

.main-card {
    margin-top: 10%;
}

h1 {
    font-size: 41px !important;
}

#parte2>div+div p:nth-child(1) {
    font-size: 24px !important;
}

#parte2 .mt-4 {
    font-size: 20px;
}

#parte2 button {
    width: 102px;
    height: 50px;
}

#parte3 h2 {
    margin-top: 7.4%;
}

#parte4 p:nth-child(1) {
    font-size: 18px;
}

#parte4 p:nth-child(2) {
    font-size: 18px;
    line-height: 32px;
    color: #9592A0;
}

#parte4 .mt-3 {
    font-size: 20px;
}


#parte4 button {
    width: 102px;
    height: 50px;
}

/*#parte2>div+div>p+img {
    margin-top: 10%;
    border-radius: 20px;
}*/

/*
#parte3 > div + div {
    margin: 0 auto;
}
/*
section:not(#parte5):not(#parte6), #parte1, #parte2-1, #parte3 {
    margin: 10% 0 10% 0;
}
*/

.parte5 {
    background-color: #E6E4D8;
}

#parte5 p:nth-child(1) {
    font-size: 36px;
}

#parte5 p:nth-child(2) {
    font-size: 18px;
}

#parte6 p {
    margin-top: 14.7%;
}

/*Icone #parte6*/

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .material-icons {
  position: absolute;
  padding: 8px;
  pointer-events: auto;
}

/* align icon */
.left-addon .material-icons  { left:  0px;}
.right-addon .material-icons { right: -5px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#parte6 i {
    cursor:pointer;
}

/*Fim do icone #parte6*/




/*
#parte6 i {
    position: absolute;
    margin-top: 13.4%;
    right: 10%;
}*/



/*------FOOTER-------*/

.parte7 {
    background-color: #FFFFFF;
}
